--- Local LLM -----
LLM_BASE_URL=base-url-for-llm
OPENAI_API_KEY=api-key-for-llm
LLM_MODEL=your-llm-model-name

--- Database -------------------------------------------------------
SUPABASE_DB_URL=supabase-db-url
SUPABASE_URL=supabase-url
SUPABASE_KEY=supabase-key
--- Storage --------------------------------------------------------
STORAGE_DIR=/app/storage 
STORAGE_ENVIRONMENT=production 